.App {
  /* text-align: center; */
}

.gs_a {
  color: #5b5b5b;
  text-decoration: none;
  letter-spacing: 1px;
}
.gs_button{
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.gs_button a {
  position: relative;
  transition: all .35s ease-Out;
}

.gs_button {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #5b5b5b;
  margin: 20px 20px 20px 20px;
  color: #5b5b5b;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.gs_button {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.gs_button a {
  position: relative;
  transition: all .35s ease-Out;
}

.slide {
  width: 100%;
  height: 100%;
  left: -200px;
  background: #BFC0C0;
  position: absolute;
  transition: all .35s ease-Out;
  bottom: 0;
}

.gs_button:hover .slide {
  left: 0;
}

.gs_button:hover a {
  color: #ffffff;
}
