header{
  height: 80px;
  background-color: #f0ede2;
}

.App {
  background-color: #f0ede2;
  min-height: calc(100vh - 80px - 70px);
}

body{
  background-color:#f0ede2;
  height: 100vh;
}

footer{
  background-color: #f0ede2;
  position:static;
  width: 100%;
  height: 70px;
}


