

header{
  height: 100px;
  background-color: #f0ede2;
}

main {
  background-color: #f0ede2;
  min-height: calc(100vh - 100px - 70px);
}

body{
  background-color:#f0ede2;
  margin: 0;
  padding: 0;
}

footer{
  background-color: #f0ede2;
  position:static;

  width: 100%;
  height: 70px; /* replace with actual footer height */
}


