
.center-content{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    padding-top: 10vh;
    padding-bottom: 20vh;
}

.center-content .row{
    column-gap: 8vh;
}